/* generic custom style class starts */
/* custom heights class starts */
.height10 {
  height: 10% !important;
}

.height20 {
  height: 20% !important;
}

.height30 {
  height: 30% !important;
}

.height40 {
  height: 40% !important;
}

.height50 {
  height: 50% !important;
}

.height60 {
  height: 60% !important;
}

.height70 {
  height: 70% !important;
}

.height80 {
  height: 80% !important;
}

.height90 {
  height: 90% !important;
}

.height100 {
  height: 100% !important;
}

/* custom heights class ends */
/* custom widths class starts */
.width5 {
  width: 5% !important;
}

.width10 {
  width: 10% !important;
}

.width15 {
  width: 15% !important;
}

.width20 {
  width: 20% !important;
}

.width25 {
  width: 25% !important;
}

.width30 {
  width: 30% !important;
}

.width35 {
  width: 35% !important;
}

.width40 {
  width: 40% !important;
}

.width50 {
  width: 50% !important;
}

.width60 {
  width: 60% !important;
}

.width70 {
  width: 70% !important;
}

.width75 {
  width: 75% !important;
}

.width80 {
  width: 80% !important;
}

.width90 {
  width: 90% !important;
}

.width100 {
  width: 100% !important;
}

/* custom widths class ends */
/* custom colors class starts */
.color_white {
  color: #ffffff !important;
}

.color_black {
  color: #000000 !important;
}

.bg_white {
  background-color: #ffffff !important;
}

.bg_aqua {
  background-color: #00c0ef !important;
}

.bg_red {
  background-color: #dd4b39 !important;
}

.bg_green {
  background-color: #00a65a !important;
}

.bg_yellow {
  background-color: #f39c12 !important;
}

.bg_gray {
  background-color: #808080 !important;
}

.bg_lightgray {
  background-color: #d3d3d3 !important;
}

/* custom colors class ends */
/* custom margins class starts */
.margin0 {
  margin: 0px !important;
}

.margin5 {
  margin: 5px !important;
}

.margin10 {
  margin: 10px !important;
}

.margin15 {
  margin: 15px !important;
}

.margin20 {
  margin: 20px !important;
}

.margin_top0 {
  margin-top: 0px !important;
}

.margin_right0 {
  margin-right: 0px !important;
}

.margin_bottom0 {
  margin-bottom: 0px !important;
}

.margin_left0 {
  margin-left: 0px !important;
}

.margin_top5 {
  margin-top: 5px !important;
}

.margin_right5 {
  margin-right: 5px !important;
}

.margin_bottom5 {
  margin-bottom: 5px !important;
}

.margin_left5 {
  margin-left: 5px !important;
}

.margin_top10 {
  margin-top: 10px !important;
}

.margin_right10 {
  margin-right: 10px !important;
}

.margin_bottom10 {
  margin-bottom: 10px !important;
}

.margin_left10 {
  margin-left: 10px !important;
}

.margin_top15 {
  margin-top: 15px !important;
}

.margin_right15 {
  margin-right: 15px !important;
}

.margin_bottom15 {
  margin-bottom: 15px !important;
}

.margin_left15 {
  margin-left: 15px !important;
}

.margin_top20 {
  margin-top: 20px !important;
}

.margin_right20 {
  margin-right: 20px !important;
}

.margin_bottom20 {
  margin-bottom: 20px !important;
}

.margin_left20 {
  margin-left: 20px !important;
}

.margin_top25 {
  margin-top: 25px !important;
}

.margin_right25 {
  margin-right: 25px !important;
}

.margin_bottom25 {
  margin-bottom: 25px !important;
}

.margin_left25 {
  margin-left: 25px !important;
}

.margin_top30 {
  margin-top: 30px !important;
}

.margin_right30 {
  margin-right: 30px !important;
}

.margin_bottom30 {
  margin-bottom: 30px !important;
}

.margin_left30 {
  margin-left: 30px !important;
}

.margin_top35 {
  margin-top: 35px !important;
}

.margin_right35 {
  margin-right: 35px !important;
}

.margin_bottom35 {
  margin-bottom: 35px !important;
}

.margin_left35 {
  margin-left: 35px !important;
}

.margin_top40 {
  margin-top: 40px !important;
}

.margin_right40 {
  margin-right: 40px !important;
}

.margin_bottom40 {
  margin-bottom: 40px !important;
}

.margin_left40 {
  margin-left: 40px !important;
}

.margin_top45 {
  margin-top: 45px !important;
}

.margin_right45 {
  margin-right: 45px !important;
}

.margin_bottom45 {
  margin-bottom: 45px !important;
}

.margin_left45 {
  margin-left: 45px !important;
}

.margin_top50 {
  margin-top: 50px !important;
}

.margin_right50 {
  margin-right: 50px !important;
}

.margin_bottom50 {
  margin-bottom: 50px !important;
}

.margin_left50 {
  margin-left: 50px !important;
}

/* custom margins class ends */
/* custom paddings class starts */
.padding0 {
  padding: 0px !important;
}

.padding5 {
  padding: 5px !important;
}

.padding10 {
  padding: 10px !important;
}

.padding15 {
  padding: 15px !important;
}

.padding20 {
  padding: 20px !important;
}

.padding_top0 {
  padding-top: 0px !important;
}

.padding_right0 {
  padding-right: 0px !important;
}

.padding_bottom0 {
  padding-bottom: 0px !important;
}

.padding_left0 {
  padding-left: 0px !important;
}

.padding_top5 {
  padding-top: 5px !important;
}

.padding_right5 {
  padding-right: 5px !important;
}

.padding_bottom5 {
  padding-bottom: 5px !important;
}

.padding_left5 {
  padding-left: 5px !important;
}

.padding_top10 {
  padding-top: 10px !important;
}

.padding_right10 {
  padding-right: 10px !important;
}

.padding_bottom10 {
  padding-bottom: 10px !important;
}

.padding_left10 {
  padding-left: 10px !important;
}

.padding_top15 {
  padding-top: 15px !important;
}

.padding_right15 {
  padding-right: 15px !important;
}

.padding_bottom15 {
  padding-bottom: 15px !important;
}

.padding_left15 {
  padding-left: 15px !important;
}

.padding_top20 {
  padding-top: 20px !important;
}

.padding_right20 {
  padding-right: 20px !important;
}

.padding_bottom20 {
  padding-bottom: 20px !important;
}

.padding_left20 {
  padding-left: 20px !important;
}

.padding_top25 {
  padding-top: 25px !important;
}

.padding_right25 {
  padding-right: 25px !important;
}

.padding_bottom25 {
  padding-bottom: 25px !important;
}

.padding_left25 {
  padding-left: 25px !important;
}

.padding_top30 {
  padding-top: 30px !important;
}

.padding_right30 {
  padding-right: 30px !important;
}

.padding_bottom30 {
  padding-bottom: 30px !important;
}

.padding_left30 {
  padding-left: 30px !important;
}

.padding_top35 {
  padding-top: 35px !important;
}

.padding_right35 {
  padding-right: 35px !important;
}

.padding_bottom35 {
  padding-bottom: 35px !important;
}

.padding_left35 {
  padding-left: 35px !important;
}

.padding_top40 {
  padding-top: 40px !important;
}

.padding_right40 {
  padding-right: 40px !important;
}

.padding_bottom40 {
  padding-bottom: 40px !important;
}

.padding_left40 {
  padding-left: 40px !important;
}

.padding_top45 {
  padding-top: 45px !important;
}

.padding_right45 {
  padding-right: 45px !important;
}

.padding_bottom45 {
  padding-bottom: 45px !important;
}

.padding_left45 {
  padding-left: 45px !important;
}

.padding_top50 {
  padding-top: 50px !important;
}

.padding_right50 {
  padding-right: 50px !important;
}

.padding_bottom50 {
  padding-bottom: 50px !important;
}

.padding_left50 {
  padding-left: 50px !important;
}

/* custom paddings class ends */
/* custom fonts class starts */
.font12 {
  font-size: 12px !important;
}

.font14 {
  font-size: 14px !important;
}

.font15 {
  font-size: 15px !important;
}

.font16 {
  font-size: 16px !important;
}

.font18 {
  font-size: 18px !important;
}

.font20 {
  font-size: 20px !important;
}

.font22 {
  font-size: 22px !important;
}

.font24 {
  font-size: 24px !important;
}

/* custom fonts class ends */
/* custom border-radius class starts */
.border_radius5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.border_radius10 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

/* custom border-radius class ends */
/* custom common class starts */
.opacity87 {
  opacity: 0.87 !important;
}

.opacity54 {
  opacity: 0.54 !important;
}

.tag {
  display: inline-block;
  font-size: 13px !important;
}

.error_text {
  color: #dd4b39 !important;
}

.one_line_text {
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}

.line_separator {
  border-bottom: 1px solid #cccccc !important;
  padding: 5px 0;
}

/* custom common class ends */
/* generic custom style class ends */
