// colors.scss

// This is our iteratable list of key/value pairs
$colors: (
  aqua: #00c0ef,
  red: #dd4b39,
  green: #00a65a,
  yellow: #f39c12
);

// We loop through our list and use the key as the name
// and the value is used as the val.

/* custom colors class starts */
@each $name, $val in $colors {
  .bg_#{$name} {
    background-color: #{$val} !important;
  }
}
/* custom colors class ends */
