// colors.scss

// This is our iteratable list of key/value pairs
$heights: (
  6: 0.375rem,
  10: 0.625rem,
  11: 0.688rem,
  18: 1.125rem
);

// We loop through our list and use the key as the name
// and the value is used as the val.
@each $name, $val in $heights {
  .h#{$name} {
    height: #{$val};
  }
  .min-h#{$name} {
    min-height: #{$val};
  }
}
